/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --color1: #1e2b46;
  --color2: #4C6A92; 
  --accent-color: #64A1D4;
  --hover-color: #0A2856;
  --white-color: #efefef;
  --black-color: #1E1E1E;
  --grey-color: #B0B0B0;
  --body-color: hsl(220, 100%, 100%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.container {
  max-width: 1120px;
  margin-inline: 2rem;
}

.website__container {
    width: 100%;
    padding: 0.5rem;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color2); 
    border: 2px solid var(--color1);
    cursor: pointer;
    overflow: hidden; 
    border-radius: 3.75rem;
    text-align: center;
    transition: color 0.3s ease;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0; /* Start at the bottom */
    left: 0;
    width: 100%;
    height: 3px; /* Line thickness */
    background-color: #fff; /* White color for the line */
    transform: scaleX(0); /* Start with no width */
    transform-origin: bottom right; /* Start the effect from the bottom */
    transition: transform 0.3s ease-out;
  }
  

  
  .btn:hover::after {
    transform: scaleX(1); /* Expand the line on hover */
    transform-origin: bottom left; /* End the effect at the bottom left */
  }

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%; 
    background-color: var(--white-color); 
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
    z-index: var(--z-fixed);
    margin-top: 1rem;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
}
.header.scrolled {
    border-radius: 0;
    margin-top: 0;
    width: 100%;
}

/*=============== NAV ===============*/
.nav {
  height: 3.5rem;
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--color1);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: 1.6rem;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
}


.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    background-color: var(--white-color);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--color1);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}



/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}
.show-menu.header {
    border-radius: 0;
    margin-top: 0;
    width: 100%;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--color1);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}


@media (hover: hover) and (pointer: fine) {
    .dropdown__link:hover {
      background-color: var(--color1);
      color: var(--white-color);
    }
  }

.dropdown__menu {
  max-height: 0;
  overflow: hidden;
}
/* Rotate dropdown icon */

@media (hover: hover) and (pointer: fine) {
    .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
      }
  }



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }

  @media (hover: hover) and (pointer: fine) {
    .nav__link:hover {
        background-color: transparent;
      }
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__link {
    padding-inline: 1rem;
  }

  /* Show dropdown menu */

  @media (hover: hover) and (pointer: fine) {
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
      }
  }

}
.dropdown__menu {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
}

.show-dropdown {
    max-height: 1000px;
    opacity: 1;
    pointer-events: auto;
    transition: max-height 0.4s ease-in, opacity 0.3s ease-in;
}
.show-dropdown.rotate-arrow {
    transform: rotate(180deg);
}
