/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --color1: #1e2b46;
  --color2: #4C6A92; 
  --accent-color: #64A1D4;
  --hover-color: #0A2856;
  --white-color: #efefef;
  --black-color: #1E1E1E;
  --grey-color: #B0B0B0;
  --body-color: hsl(220, 100%, 100%);

  /*========== Font  ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*=============== NAV ===============*/
.nav {
  height: 3.5rem;
  }

  .nav__logo, 
  .nav__burger, 
  .nav__close {
  color: var(--color1);
  }

  .nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-size: 1.6rem;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  }

  .nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  }

  .nav__burger, 
  .nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
  }

  .nav__close {
  opacity: 0;
  }

  @media screen and (max-width: 1118px) {
  .nav__menu {
     position: absolute;
     left: 0;
     top: 2.5rem;
     width: 100%;
     height: calc(100vh - 3.5rem);
     background-color: var(--white-color);
     overflow: auto;
     pointer-events: none;
     opacity: 0;
     transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
     width: 0;
  }
  .nav__list {
     padding-top: 1rem;
  }
  }

  .nav__link {
  color: var(--color1);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  }

  .show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
  }
  .show-menu.header {
     border-radius: 0;
     margin-top: 0;
     width: 100%;
  }

  .show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
  }

  .show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
  }

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--color1);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

@media (hover: hover) and (pointer: fine) {
    .dropdown__link:hover {
      background-color: var(--color1);
      color: var(--white-color);
    }
}

.dropdown__menu {
  max-height: 0;
  overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
    .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
      }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }

  @media (hover: hover) and (pointer: fine) {
    .nav__link:hover {
        background-color: transparent;
      }
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__link {
    padding-inline: 1rem;
  }

  /* Show dropdown menu */

  @media (hover: hover) and (pointer: fine) {
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 5.5rem;
        pointer-events: initial;
        transition: top .3s;
      }
  }

}
.dropdown__menu {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
}

.show-dropdown {
    max-height: 1000px;
    opacity: 1;
    pointer-events: auto;
    transition: max-height 0.4s ease-in, opacity 0.3s ease-in;
}
.show-dropdown.rotate-arrow {
    transform: rotate(180deg);
}

/*=============== FOOTER ===============*/
.footer {
  background: linear-gradient(180deg, var(--color1), var(--black-color));
  color: var(--white-color);
  padding: 3rem 1rem;
  font-family: var(--body-font);
}

.logo {
  column-gap: .25rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer__links{
  flex: 1;
  min-width: 200px;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links ul li {
  margin: 1rem 0; 
}

.footer__links ul li a {
  color: var(--white-color);
  text-decoration: none;
  transition: color 0.3s;
}


@media (hover: hover) and (pointer: fine) {
  .footer__links ul li a:hover {
    color: var(--accent-color);
  }
}

.footer__social {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.footer__bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  border-top: 1px solid var(--white-color);
  padding-top: 1rem;
}

@media screen and (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
  .footer__social {
    justify-content: center;
  }
}

